.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(12, 12, 12);
  color: #fff;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navstyle{
  text-decoration: none;
  background-color: rgb(99, 110, 110);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.back{
  background-image: url('back.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
  height: 584px;
}

.abtback{
  background-image: url('abtt.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -23px;
  height: 586px;
  /* margin: 0px; */
}

.cont{
  background-image: url('contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -23px;
  height: 586px;
  /* margin: 0px; */
}

.topp{
  margin-top: 50px;
}

.section{
  margin: auto;
  width: 80%;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.h1{
  color: #fff;
}

.para{
  margin-top: 100px;
  color: #fff;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-left: 10%;
  font-weight: bold;
  font-size: 50px;
}

.box{
  display: flex;
  margin-left: 10%;
  margin-right: auto;
  padding: 10px;
 
}

.abt{
  padding: 10px;
  margin-top: 70px;
}

img{
  width: 300px;
  height: 300px;
}

.image{
  padding: 10px;
}

.mg{
  padding: 10px;
}

/* .row {margin: 0 -5px; } */

.row:after {
   content: "";
   /* display: table; */
   /* clear: both; */
 }

.column {
   float: center;
   width: 25%;
   padding: 0 10px;
   margin-left: auto;
   margin-right: auto;
}

.card {
   border-radius: 1em;
   margin-top: 30px;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect */
   padding: 16px;
   text-align: center;
   background-color: black;
   opacity: 0.8;
   width: 300px;
   color: #fff;
 }

.card:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}


.section1{
  margin: auto;
  width: 80%;
  margin-left: 20px;
}

.head2{
  margin-top: 10px;
  text-align: center;
  margin-left: 20%;
}

.box1{
  display: flex;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 10%;

}

.p1{
  font-weight: bold;
}

.p2{
  margin-left: 30px;
}

.con{
  margin-left: 20%;
  margin-top: 50px;
}